

[Unit]
Description=Raid Monitoring via mdadm
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/mdadm --monitor --scan  --mail=YOUR_MAIL_ADDRESS --program=/usr/local/mdadm-custom-notify.sh
Restart=always
RestartSec=15
killMode=mixed
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
